
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">
    <title>Ramapo Poker</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="/">Ramapo Poker Tournament</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/pokerTable">Play Poker</a>
          </li>
          <li class="nav-item ">
              <a class="nav-link" href="/pokerSim">Play Computer</a>
          </li>
          <li class="nav-item active">
              <a class="nav-link" href="/howTo">How to play</a>
          </li>
        </ul>
      </div>
    </nav>
    <main role="main">
      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">Learn About Texas Hold'Em</h1>
          <p>
            Texas Hold'Em begins with 2 players posting blinds, the small and the big blind.
            The Big Blind is the mininum bet in order to play in the round. The Small Blind is half of the Big Blind.
            <br/><br/>
            Once the blinds are posted, cards are dealt to each player and a round of betting takes place 
            beginning with the player after the Big Blind.
            <br/><br/>
            Players have options when betting: Call, Check, Raise, Fold, or All-in.
            <br/><br/>
            For the first round of betting, a player can do all bets except check.
            If a person raises, the betting goes around again until it ends at the player who raised, or another player raises.
            <br/><br/>
            Once betting it complete, the flop is dealt. This consists of three cards.
            <br/> <br/>
            Another round of commences with the players having the option of checking (no bet), if no one has raised yet.
            <br/><br/>
            Once betting is complete, the turn is dealt. This consists of one card
            <br/><br/>
            Another round of commences with the players having the option of checking (no bet), if no one has raised yet.
            <br/><br/>
            Once betting is complete, the river is dealt. This consists of one card
            <br/><br/>
            Another round of commences with the players having the option of checking (no bet), if no one has raised yet.
            <br/><br/>
            Once betting is complete, the showdown occurs. Cards are checked for the best hand and the winner takes all the money in the pot!

          </p>
        </div>
      </div>

      <div class="container">
        <!-- Example row of columns -->
        <h1>Hand Combinations</h1>
        <div class="row">
          <div class="col-md-4">
            <h2>Royal Flush</h2>
            <p>10 through Ace all in the same suit</p>
          </div>
          <div class="col-md-4">
            <h2>Straight Flush</h2>
            <p>Five cards in sequence all in the same suit</p>
          </div>
          <div class="col-md-4">
              <h2>Four of a Kind</h2>
              <p>Four cards of the same rank</p>
          </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-4">
              <h2>Full House</h2>
              <p>Three of a Kind with a pair</p>
            </div>
            <div class="col-md-4">
              <h2>Flush</h2>
              <p>Five cards all in the same suit</p>
            </div>
            <div class="col-md-4">
                <h2>Straight</h2>
                <p>Five cards in sequence in any suit</p>
            </div>
          </div>
          <hr>
          <div class="row">
              <div class="col-md-4">
                <h2>Three of a kind</h2>
                <p>Three of the same rank</p>
              </div>
              <div class="col-md-4">
                <h2>Two Pair</h2>
                <p>Two different pairs</p>
              </div>
              <div class="col-md-4">
                  <h2>Pair</h2>
                  <p>Two cards of the same rank</p>
              </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-4">
                  <h2>High Card</h2>
                  <p>No other combinations, highest card wins</p>
                </div>
              </div>
              <hr>
      </div> <!-- /container -->
    </main>
    <footer class="container">
        <p>&copy; Lauren Mihalik 2018 Ramapo College Senior Project</p>
    </footer>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
